@model Challenge.Models.Vehiculo

@{
    ViewData["Title"] = "Create";
    ViewData["Titulo"] = "Agregar Vehiculo";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Patente" class="control-label"></label>
                <input asp-for="Patente" class="form-control" />
                <span asp-validation-for="Patente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <select asp-for="Marca" class="form-control">
                    @foreach (var m in ViewBag.Marcas)
                    {
                        <option>@m</option>
                    }
                </select>
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puertas" class="control-label"></label>
                <input asp-for="Puertas" class="form-control" />
                <span asp-validation-for="Puertas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titular" class="control-label"></label>
                @{ 
                //<input asp-for="Titular" class="form-control" />
                    }
                <select asp-for="Titular" class="form-control"></select>
                <span asp-validation-for="Titular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Ver Vehículos</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
